<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<meta name="keywords" content="{{keywords}}">
<meta name="description" content="{{description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{stylesheet}}">
</head>
<body>
<div id="outer">
<header>
<div class="header-inner">
<h1><a href="{{home}}">{{site_title}}</a></h1>
<p>{{site_tagline}}</p>
</div>
</header>
<div id="content">
<div class="inner">
{{content}}
</div>
<aside>
{{aside}}
</aside>
</div>
<footer>&copy; tomozoo</footer>
</div>
</body>
</html>
